doctype html
html(lang='en')
  head
    title Welcome
    link(href='/stylesheets/bootstrap.css', rel='stylesheet')
    link(href='/stylesheets/style.css', rel='stylesheet')
  body
    .navbar.navbar-default(role='navigation')
      .container
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a(href='/')
           img#logo(src='../images/logo.png')

          
        .navbar-collapse.collapse
          ul.nav.navbar-nav
            if user
             li(class=(title == 'Members' ? 'active' : ''))
               a(href='/') Profiel
             li(class=(title == 'Over Muzika' ? 'active' : ''))
               a(href='/users/over') Over Muzika
            if !user
             li(class=(title == 'Registreren' ? 'active' : ''))
               a(href='/users/register') Registreren
             li(class=(title == 'Login' ? 'active' : ''))
               a(href='/users/login') Inloggen
             li(class=(title == 'Over Muzika' ? 'active' : ''))
               a(href='/users/over') Over Muzika
          ul.nav.navbar-nav.navbar-right
           if user
            li
               a(href='/users/logout') Logout
    .container
     .page
      != messages()
      block content
     
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
    script(src='/javascripts/bootstrap.js')