extends partials/layout

block content
 h2.page-header Login
 p Login met het formulier hieronder
 form(method='post', action='/users/login')
  .form-group
   label Gebruikersnaam
   input.form-control(name='username', type='text', placeholder='Vul gebruikersnaam in')
  .form-group
   label Wachtwoord
   input.form-control(name='password', type='password', placeholder='Vul wachtwoord in')
  input.btn.btn-primary(type='submit', name='submit',value='Login')

 include partials/footer