extends partials/layout

block content
    h2.page-header Registreren
    p  Registreer hieronder door middel van het formulier
        if errors
            each error, i in errors
                div.alert.alert-danger #{error.msg}
        
                
    form(method='post', action='/users/register',enctype='multipart/form-data')
        .form-group
        label Voornaam
        input.form-control(name='voornaam', type='text', placeholder='Voornaam')
        .form-group
        label Email adres
        input.form-control(name='email', type='email', placeholder='Email adres')
        .form-group
        label Gebruikersnaam
        input.form-control(name='gebruikersnaam', type='text', placeholder='gebruikersnaam')
        .form-group
        label Favoriete muziek genre
        select.form-control(name='genre')
            each genre in ['House', 'Hardstyle', 'Metal', 'Techno','jazz']
                 option(value=i) #{genre}
        .form-group
        label Leeftijd
        input.form-control(name='leeftijd', type='number', placeholder='leeftijd' min='1')     
        .form-group
        label Wachtwoord
        input.form-control(name='password', type='password', placeholder='Wachtwoord')
        .form-group
        label Bevestig wachtwoord
        input.form-control(name='password2', type='password', placeholder='Bevestig wachtwoord')
        .form-group
        label Profielfoto
        input.form-control(name='profielfoto', type='file' accept="image/*")
        <br><br>
        input.btn.btn-primary(type='submit', name='submit',value='register') 